<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Events | Amalthea 2020</title>
  <meta name="description" value="Amalthea is the Annual Tech Summit of IIT Gandhinagar.">
  <link rel="icon" href="\images\Amalthea_title_logo.png">
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="\css\events.css">
  <link rel="stylesheet" href="\css\common.css">
  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
  <!--Inter-->
  <script src="https://kit.fontawesome.com/9d7cc8090d.js" crossorigin="anonymous"></script>
</head>

<%- include('partials/header') %>

    <br><br><br><br><br>
    <!--Event Logos Slideshow-->
    <div class="container-fluid">
      <div class="slideshow-container">
        <div class="mySlides1">
          <img class="event-slides" src="/images/quickwitlogo.png">
        </div>

        <div class="mySlides1">
          <img class="event-slides" src="/images/cryptorush.png">
        </div>

        <div class="mySlides1">
          <img class="event-slides" src="/images/Dcode_logo.png">
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <br>
        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
        </div>
      </div>
    </div>
    <br>

    <div class="container-fluid events-infoo">
      <div class="slideshow-container">
        <!--Quickwit-->
        <div class="mySlides2">
          <br>
          <div class="box1">
            <h1 class="box-heading">About</h1>
            <div class="row">
              <div class="col-12 box-text">Quickwit is a short weekly online quiz conducted on our instagram handle <a href="https://www.instagram.com/amalthea_iitgn/"> @amalthea_iitgn</a>.
                This quiz is conducted every Sunday at sharp 9pm having questions related to various fileds of science and technology.
                It appreciates your accuracy as well as quick response and the leaderboard gets updated every week.
                The top 10 contestents from the leaderboard get a shout out from our instagram handle every week.</div>
            </div>
          </div>
          <!--Leaderboard-->
          <br>
          <div class="box1">
            <h1 class="box-heading">Leaderboard</h1>
          </div>
          <!--Previous Weeks-->
          <br>
          <div class="box1">
            <h1 class="box-heading">Previous Weeks</h1>
          </div>
        </div>

        <!--Cryptorush-->
        <div class="mySlides2">
          <br>
          <div class="box1">
            <h1 class="box-heading">About</h1>
            <div class="row">
              <div class="col-12 box-text">Cryptocurrency trading is a new speculation business that has gained significant boost after the government lifted the ban on cryptocurrencies in March 2020. CryptoRush, organised by Amalthea, brings forth a
                unique platform to test your mettle in Cryptocurrency trading without any risk of loosing money. Why not try out your speculation or luck on mock $50,000 that you'll be given to trade and make the best of it as if you were doing it in
                a real market!</div>
              <!--<div class = "col-md-4 About-video"></div>-->
            </div>
          </div>

          <!--Rules-->
          <br>
          <br>
          <div class="box1">
            <h1 class="box-heading">Participation</h1>
            <div class="box-text">
              • There are no prerequisites for this competition, but knowlege of stock trading would definitely increase your chances of winning! <br>
              • There is no participation fee. <br>
              • The event is going to be held online on Roostoo application. The app (<b> Roostoo – Mock Crypto Trading </b>) can be downloaded from the links below: <br>
              <a href="https://play.google.com/store/apps/details?id=com.roostoo.roostoo&hl=en_IN">For Android</a><br><a href="https://apps.apple.com/us/app/roostoo-mock-crypto-trading/id1483561353">For IOS</a><br>
              • The participants need to register on the Amalthea Website to be eligible for winning the exciting prizes. <br>
              • The participation code required in the Roostoo App, will be mailed to the registered participants.
            </div>
          </div>

          <!--Rules-->
          <br>
          <br>
          <div class="box1">
            <h1 class="box-heading">Rules</h1>
            <div class="box-text">
              • The ranking would be based on the Portfolio return rates. <br>
              • Prizes will be awarded to the top three ranked participants with highest portfolio return rates. In case of a tie, prizes will be awarded as deemed fair by the organisers. <br>
              • All participants will be provided with a virtual participation certificate. <br>
              • Winners would be announced within 48 hours after the event ends, on the Amalthea website and respective social media platforms. <br>
              • Short Selling is not supported and allowed. <br>
              • Buying on margins is not allowed. <br>
              • Bot Assisted Trading, Hyper Frequency, Multiple Accounts Trading, and any illegitimate activities which suggest cheating or exploiting the systems are not allowed. <br>
              • Users who cancel orders more than 20 times per minute may be disqualified. <br>
              • Creation of multiple accounts by any single user to participate in the event will lead to disqualification. If the system detects that two users have conspired to place matched orders, their participation will be disqualified. <br>
              • ROOSTOO HAS SOLE AND FINAL DISCRETION OF INTERPRETATION OF THE COMPETITION RULES AND RIGHTS TO DISQUALIFY ANY USERS WHO VIOLATE THE RULES. <br>
              • Participants will have to agree to Roostoo Terms and Conditions upon signing in. <br>
              • The event DOES NOT include any buying or selling of any real cryptocurrencies with real money. The money that participants will use to trade will be mock money deposited in the virtual portfolio.
            </div>
          </div>
        </div>

        <!--Dcode-->
        <div class="mySlides2">

          <br>
          <div class="box1">
            <h1 class="box-heading">Coming Soon</h1>
          </div>

        </div>
      </div>
      <br>
    </div>


    <%- include('partials/footer') %>


  <script src="/js/events.js"></script>
  <!--Bootstrap-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>
