<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Webinars | Amalthea 2020</title>
  <meta name="author" content="Reuben Devanesan, B.Tech Chemical Engineering | Gaurav Viramgami, B.Tech Computer Science | Harshit Ramolia, B.Tech Chemical Engineering">
  <meta name="description" value="Amalthea is the Annual Tech Summit of IIT Gandhinagar.">
  <link rel="icon" href="\images\Amalthea_title_logo.png">
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="\css\webinars.css">
  <link rel="stylesheet" href="\css\common.css">
  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
  <!--Inter-->
  <script src="https://kit.fontawesome.com/9d7cc8090d.js" crossorigin="anonymous"></script>
</head>

<%- include('partials/header') %>

<br><br><br><br>

  <!--Temporary Content-->
  <div class="box1">
    <h1 class="box-heading1">Amalthea 2020 Webinars</h1>
    <div class="box-text">
      <p>
        Since its inception 11 years ago, the Conclave has been one of the pillars of Amalthea. This year, Conclave talks will be organized virtually in form of Webinars. The Webinars aim to spread ideas, foster innovation, inquisition and
        creativity among the masses. They will be organised on a range of techno-managerial fields, current affairs, cutting-edge high impact research and entrepreneurship.
        The Webinars will host speakers, visionaries, and leaders who will spread knowledge, provide insights, and discuss solutions. The talks will also facilitate interaction between audiences all over the country and the eminent speakers. Thus,
        going by this year’s theme, the Webinars will serve as a means to “Connect, Collaborate, and Create” for participants. 
      </p>
    </div>
  </div>
  <br>

  <div class="container-fluid webinarsboxes">
    <!--<h1 class="box-heading1">Upcoming Webinars</h1>-->
    <div class="row">
      <!--Webinar 1-->
      <div class="webinar-box1 col-lg-3 col-md-6 col-sm-11 border-right">
        <div class="img">
          <img src="\images\Webinar_1.png" class="img-fluid mx-auto d-block cara-img">
        </div>
        <br>
        <h3>30th October 2020 <br> 18:00 - 19:00</h3> <br>
        <button type="button" class="btn btn-primary register-btn btn-left" data-toggle="modal" data-target=".webinar1">Know More</button>

        <div class="modal fade bd-example-modal-lg webinar1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Webinar on Application of Data Science</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class = "row">
                  <div class="col-lg-6 col-sm-12">

                    <div class="img">
                        <img src = "\images\Webinar_1.png" class="img-fluid mx-auto d-block cara-img">
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-12">

                    The fast-paced 21st century has technological solutions overtaking every nook and corner of society. Amongst them, the applications of Data Science and Machine Learning are something that stands out the most. A versatile skill that has applications from healthcare to finance, but where to start?

                    At the dawn of the Amalthea Webinar Series, we are delighted to announce our first speaker, Mathangi Sri, a leading Data Scientist in India, with 11 patent grants and 20+ patents in her field. She has served as head of Data Science at PhonePe and VP at NextGen Solutions. She has also built teams for data science at CitiBank, HSBC, and GE.
                    <br><br>
                    Join us on 30th October, from 6-7 PM, and mine into the field to get a clear visualization by registering from the link in the bio! You can also catch us live on Amalthea's YouTube channel, so don't forget to subscribe and hit the bell!

                    <br><br>
                    <a class="btn btn-primary register-btn more-btn" href="/webinar_form" role="button">Register Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <a class="btn btn-primary register-btn btn-left" href="webinar_1.html" role="button">Know More</a> -->
        <a class="btn btn-primary register-btn btn-right" href="/webinar_form" role="button">Register Now</a>
      </div>

      <!--Webinar 2 and so on.-->
    </div>
  </div>
  <div class="update-spacing"></div>

  <%- include('partials/footer') %>

  <!--Bootstrap-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/webinars.js"></script>
    <script src="/js/subscribe.js"></script>
</body>
</html>
